@import "tailwindcss";
* {
  box-sizing: border-box;
}
html {
  /* 10 PX */
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  max-width: 1024px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 45px;
}

header > h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  padding: 2rem 0;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 1rem;
}
p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

main {
  padding: 3rem 3rem 1rem;
}
.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 3.8rem;
}

.add-ingredient-form > input {
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  padding: 0.9rem 1.3rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 15rem;
  max-width: 40rem;
}
.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  background-color: #141413;
  color: #fafaf8;
  border-radius: 0.6rem;
  padding: 0.9rem 1.3rem;
  border: none;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.add-ingredient-form > button:hover {
  background-color: #3e3e3b;
}
.input-ingredient {
  font-size: 1.4rem;
  font-weight: 400;
  color: #475467;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.input-ingredient:focus {
  outline: none;
  border: 1px solid #d17557;
}
.input-ingredient:hover {
  border: 1px solid #d17557;
}
.add-ingredient-form > button::before {
  content: "+";
  margin-right: 0.5rem;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  background-color: #4d4c4734;
  padding: 1rem 2.8rem;
  max-width: 768px;
  margin: auto;
}

.get-recipe-container h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 1.4rem;
  line-height: 2rem;
}

.get-recipe-container button {
  border: none;
  border-radius: 0.6rem;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 2.8rem;
  font-size: 2rem;
  font-weight: 400;
}

/* Styl całej listy (np. ul) */
ul.ingredients-list {
  list-style: disc inside;
  padding-left: 0;
  margin: 1rem 0;
}

.loader::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 1em;
  height: 1em;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.list-ingredient {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}
